<section id="content">
  <section flex="100" layout-wrap layout="row" layout-align="space-around center" ng-if="galleryArticleIsReady">
    <article flex="30" ng-repeat="article in gallery.articles track by $index" class="{{article.className}}" ng-class="article.picture.isPortrait ? 'isPortrait' : ''">
      <section layout="column" layout-align="center center">
        <picture ng-if="article.hasImage" title="{{getText('gallery_picture_tooltip')}}" ng-click="dr_ctrl.showPicture(article.picture, $event);">
          <source srcset="{{article.picture.url}}" type="{{article.picture.type}}" />
          <img src="{{article.picture.url}}" alt="{{article.picture.alt}}" />
        </picture>
        <section ng-if="article.hasVideo">
          <iframe class="videoYoutubePlayer" ng-src="{{dr_ctrl.getVideoTrustedUrl(article.video.url)}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
      </section>
      <p>{{getText(article.text)}}</p>
    </article>
  </section>
</section>
