<!DOCTYPE html>
<html ng-app="drone-wifi-v1" ng-cloak>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/libs/angular/angular-material.min.css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <title>Drone Présentation</title>
</head>

<body ng-controller="drone-wifi-v1-ctrl as dr_ctrl" ng-cloak>
  <header>
    <section id="headercontact">
      <p>Mail: mr.hamidi.okba@gmail.com</p>
      <p>Tel: 07.68.08.40.71</p>
    </section>
    <nav flex="100" layout="row" layout-align="end center">
      <md-button ng-show="currentPage !== 'home'" class="md-raised md-primary" ng-click="dr_ctrl.pageRouter('home')">home</md-button>
      <md-button ng-show="currentPage !== 'gallery'" class="md-raised md-primary" ng-click="dr_ctrl.pageRouter('gallery')">GALERIE</md-button>
      <md-button class="md-raised md-primary" href="remote.html">REMOTE</md-button>
      <div class="clear"></div>
      <md-button class="md-fab md-mini md-primary" ng-click="dr_ctrl.pageRouter('gallery')" >{{currentLang}}</md-button>
    </nav>
  </header>
  <main>
    <section id="title">
      <h1>{{getText("page_title")}}</h1>
    </section>

    <home ng-if="currentPage === 'home'">
    </home>
    <gallery ng-if="currentPage === 'gallery'">
    </gallery>

  </main>
  <footer>
    <p class="byme">2016-2017 par Hamidi Okba</p>
    <p class="">Copyright (c) 2017 Copyright Holder All Rights Reserved.</p>
  </footer>
  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular/angular-animate.min.js"></script>
  <script src="/libs/angular/angular-aria.min.js"></script>
  <script src="/libs/angular/angular-messages.min.js"></script>
  <script src="/libs/angular/angular-material.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/controller.js"></script>
</body>

</html>
