body {
  margin: 0;
  background-color: #FFF;
}

footer {
  position: relative;
  background-color: rgba(32, 31, 33, 0.7);
  height: 150px;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: black;
}

a:visited, a:focus, a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

#headercontact {
  display: flex;
  flex-direction: row;
  background-color: rgba(104, 102, 104, 0.8);
}

#headercontact>p {
  margin-left: 50px;
}

#headercontact>p:first-child {
  margin-left: 200px;
}

#menu>* {
  margin-right: 50px;
  float: right;
  display: block;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: 100px;
  text-align: center;
  color: black;
}

#menu>*:hover {}

#button:hover {
  color: blue;
}

#title {
  background: repeating-linear-gradient( 45deg, rgba(33, 35, 37, 0.8), rgba(33, 35, 37, 0.8) 4px, rgba(20, 20, 20, 0.9) 4px, rgba(20, 20, 20, 0.9) 8px);
  height: 100px;
}

#title h1 {
  color: rgba(200, 200, 200, 1);
  padding-top: calc(50px - 1em);
}

#presentation {
  margin-top: 35px;
  margin-left: auto;
}

#content{
display: flex;
justify-content: space-around;
flex-direction: row;
}
.picAndText {
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-direction: column;
  width: 60%;
  border: 1px solid black;
  border-radius: 15px;
  padding-top: 15px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 25px;
}

.picAndText>* {
  max-width: 100%;
}

.picAndText img {
  flex: 3;
  margin: 0 auto;
  max-width: 80%;
  border: 1px solid grey;
  border-radius: 15px;
}

.picAndText video {
  flex: 3;
  margin: 0 auto;
  max-width: 80%;
  border: 1px solid grey;
  border-radius: 15px;
}

.prenstationTitle h1 {
  float: left;
  font-size: 2.5em;
  font-style: arial;
  padding: 0;
}

.picAndText p {
  font-size: 1.2em;
  color: grey;
}

.prenstationTitle {
  color: grey;
  padding: 0;
}

.prenstationTitle.center {
  margin: auto;
}

.prenstationTitle.center h1{
color: rgba(154, 154, 157, 0.8);
}

.custommenu>* {
  display: block;
  margin-right: 50px;
  float: right;
  background-color: white;
  border: 1px solid grey;
  width: 100px;
  text-align: center;
}

.custombutton {
  font-size: 1.3em;
  color: grey;
}

.custombutton:hover {
  color: blue;
}

.byme {
  text-align: center;
}

.clear {
  clear: both;
  height: 3px;
}
