body{
  background: linear-gradient(289deg, #ff0000, #dc00ff, #0005ff, #00d0ff, #00ff0a, #e3ff00, #ff5c00);
  background-size: 1400% 1400%;

  -webkit-animation: notBadBackground 8s ease infinite;
  -moz-animation: notBadBackground 8s ease infinite;
  -o-animation: notBadBackground 8s ease infinite;
  animation: notBadBackground 8s ease infinite;

}
main {
    margin: 0 auto;
}

img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    margin-top: 5%;
    text-align: center;
    color: black;
}

@keyframes notBadBackground {
  0%{background-position:0% 48%}
  50%{background-position:100% 53%}
  100%{background-position:0% 48%}
}
@-webkit-keyframes notBadBackground {
   0%{background-position:0% 48%}
   50%{background-position:100% 53%}
   100%{background-position:0% 48%}
}
@-moz-keyframes notBadBackground {
   0%{background-position:0% 48%}
   50%{background-position:100% 53%}
   100%{background-position:0% 48%}
}
@-o-keyframes notBadBackground {
   0%{background-position:0% 48%}
   50%{background-position:100% 53%}
   100%{background-position:0% 48%}
}
