body {
  margin: 0;
  background-color: rgba(215, 209, 211, 0.9);
}

footer {
  position: relative;
  background-color: rgba(32, 31, 33, 0.7);
  height: 150px;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: black;
}

a:visited, a:focus, a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

#headercontact {
  display: flex;
  flex-direction: row;
  background-color: rgba(104, 102, 104, 0.8);
}

#headercontact>p {
  margin-left: 50px;
}

#headercontact>p:first-child {
  margin-left: 200px;
}

#menu>* {
  margin-right: 50px;
  float: right;
  display: block;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: 100px;
  text-align: center;
  color: black;
}

#menu>*:hover {}

#buttongallerie:hover {
  color: blue;
}

#title {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 4px,
    #465298 4px,
    #465298 8px
  );
  height: 100px;
}

#title h1 {
  color: rgba(200, 200, 200, 1);
  padding-top: calc(50px - 1em);
}

.clear {
  clear: both;
  height: 3px;
}
